# 240604 git-ignore

*.pyc

*.egg-info

# folders
tmp
build
.vscode
.ipynb_checkpoints
.virtual_documents
**/input_data
**/fc_bk
**/filter_cells_genes
**/data

# pycache
**/__pycache__

# compressed files
*.tar

# snakemake
.snakemake

# data files
*.h5ad

